@import "../../styles/sass/abstracts/_variables.scss";

.pricingDisplay {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.valueDisplay {
    align-self: flex-end;
    background-color: $color-dark;
    color: $color-white;
    padding: 1rem 2rem;
}

.mainDisplay {
    padding: 3rem 2rem;
    border: 1px solid $color-light-grey;
    display: flex;
    justify-content: space-between;
}

.mainDisplay > span:first-child {
    margin-right: $margin-right-smaller;
}

.mainDisplay > span {
    font-size: $font-size-medium;
    font-weight: bold;
}

.militaryDisplay {
    display: flex;
}

.militaryDisplaySection1,
.militaryDisplaySection2 {
    width: 50%;
    text-align: center;
    padding: 1rem;
    color: $color-white;
}

.militaryDisplaySection1 {
    background-color: $color-secondary;
}

.militaryDisplaySection2 {
    background-color: $color-dark;
}

@media (max-width: 660px) {
    .pricingDisplay {
        margin: 1rem;
    }
}