@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/mixins";

.officeHoursContainer {
    width: 80%;
    background-color: $color-dark;
    color: $color-white;
    padding: 2rem 0;
    border-radius: .3rem;
    border: 5px solid $color-primary;
    position: relative;
}

.officeHoursHeading {
    @include heading-tertiary;
    margin-bottom: $margin-bottom-small;
    text-align: center;
}

.officeHours {
    display: flex;
    justify-content: space-evenly;
    font-size: $font-size-medium;
    margin-bottom: $margin-bottom-small;
}

.note {
    position: absolute;
    left: 1rem;
}

.officeHoursDay div {
    padding-right: $margin-bottom-large;
    margin-bottom: .5rem;
}

.officeHoursTime div {
    text-align: center;
    margin-bottom: .5rem;
}

@media (max-width: 650px) {
    .officeHoursContainer {
        width: 100%;
    }
    .officeHoursHeading {
        text-align: center
    }
    .officeHours {
        justify-content: center;
    }
}