@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/mixins";

.officeHoursHeading {
    @include heading-tertiary;
    margin-bottom: $margin-bottom-small;
    text-align: center;
}

.officeHours {
    display: flex;
    font-size: $font-size-default;
}

.officeHoursDay div {
    padding-right: $margin-bottom-large;
    margin-bottom: .5rem;
}

.officeHoursTime div {
    text-align: center;
    margin-bottom: .5rem;
}

@media (max-width: 650px) {
    .officeHoursHeading {
        text-align: center
    }
    .officeHours {
        justify-content: center;
    }
}