@import "@/styles/sass/abstracts/variables";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $color-dark;
  color: $color-light-grey;
  padding: 6rem 10% 3rem;
}

.footerSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-smaller;
  padding-bottom: $margin-small;
  border-bottom: 1px solid $color-light-grey;
}

.footerLogo {
  height: 8rem;
  margin-bottom: $margin-small;
}

.footerLinksGroup {
  margin-bottom: $margin-small;
}

.footerLink {
  margin-right: $margin-small;
}

.contactGroup {
  display: flex;
  justify-content: space-evenly;
  // border: 1px solid red;
}

.contactUs {
  color: white;
  font-size: $font-size-medium;
  text-decoration: underline;
  margin-bottom: $margin-smaller;
}

.phoneNumber {
  margin-right: $margin-small;
}

.footerSocialLinks {
  min-width: 10rem;
  display: flex;
  justify-content: center;
}

.footerSection2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: $margin-medium;
  font-size: $font-size-default;
}

@media (max-width: 650px) {
  .contactGroup {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  // border: 1px solid red;
}
}
