.HeadShot {
  width: 35rem;
  height: 35rem;
  position: relative;
  margin: 0 auto;
}

.HeadShotImage {
  filter: brightness(70%);
}

.HeadShotImageName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
}

@media (max-width: 40rem) {
  .HeadShot {
    width: 40rem;
    height: 40rem;
  }
}
