@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/animations";

.hero {
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0, .4), rgb(0,0,0, .4)), url("../../public/heroImage.jpeg");
    background-size: cover;
    background-position: top;
}

.header {
    color: $color-white;
    padding: 0 10%;
    position: absolute;
    top: 40%;
    animation: fadeIn 2s ease-out .3s;
    animation-fill-mode: backwards;
}

.header h1 {
    font-size: 6rem;
    margin-bottom: $margin-bottom-small;
}

.header p {
    margin-bottom: $margin-bottom-small;
    max-width: 50%;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 4.8rem;
    }
    .header p {
        max-width: 90%;
    }
}