.hero {
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0, .4), rgb(0,0,0, .4)), url("../../public/heroImage.jpeg");
    background-size: cover;
    background-position: top;
}

.header {
    color: #eee;
    padding: 0 10%;
    position: absolute;
    top: 40%;
}

.header h1 {
    font-size: 6rem;
    margin-bottom: 1.5rem;
}

.header h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 4.8rem;
    }
}