.mission {
    padding: 10rem 10%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

.missionSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.missionSection h2 {
    font-size: 2.5rem;
    display: inline-block;
    background: linear-gradient(to right bottom, rgb(75, 128, 67), rgb(169, 84, 58));
    color: transparent;
    background-clip: text;
    margin-bottom: 1.5rem;
}

.missionStatement {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.missionList {
    list-style: none;
    font-size: 1.8rem;
}

.missionList li:not(:last-child) {
    margin-bottom: .5rem;
}

@media (max-width: 650px) {
    .mission {
        flex-direction: column;
    }
    .missionSection {
        width: 100%;
    }
    .missionSection:not(:last-child) {
        margin-bottom: 4rem;
    }
}