@import "../../styles/sass/abstracts/variables";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    color: $color-light-grey;
    padding: 7rem 10% 3rem;
}

.footerSection1 {
    display: flex;
    margin-bottom: $margin-bottom-medium;
    padding-bottom: $margin-bottom-small;
    border-bottom: 1px solid $color-light-grey;
}

.footerSection1Sub1 {
    width: 40%;
    margin-right: $margin-right-small;
}

.footerCompanyName {
    font-size: $font-size-large;
    margin-bottom: $margin-bottom-small;
    color: $color-white;
}

.footerCompanyName + p {
    color: $color-white;
    border-bottom: 1px solid $color-light-grey;
    padding-bottom: $margin-bottom-small;
    margin-bottom: $margin-bottom-small;
    display: inline-block;
}

.address:not(:last-child) {
    margin-bottom: $margin-bottom-smaller;
}

.footerSection1Sub2 {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.footerListHeading {
    color: $color-white;
    margin-bottom: $margin-bottom-smaller;
}

.footerListHeading + ul {
    list-style: none;
}

.footerListHeading + ul > li:not(:last-child) {
 margin-bottom: $margin-bottom-smaller;
}

.footerSection2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: $margin-bottom-medium;
}

.footerSection2Sub1 {
    width: 40%;
}

.footerSection2Sub1 > p {
    font-size: $font-size-small;
}

.footerSection2Sub2 > p {
    font-size: $font-size-small;
}

.footerList1,
.footerList2 {
    margin-right: $margin-right-smaller;
}

@media (max-width: 650px) {
    .footerList3 {
        display: none;
    }
    .footerSection2Sub1 {
        width: 100%
    }
    .footerSection2Sub2 {
        display: none;
    }
}