@import "../../styles/sass/abstracts/variables";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    color: $color-light-grey;
    padding: 6rem 10% 3rem;
}

.footerSection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin-bottom-smaller;
    padding-bottom: $margin-bottom-small;
    border-bottom: 1px solid $color-light-grey;
}


.footerLogo {
    height: 8rem;
    margin-bottom: $margin-bottom-small
}

.footerLinksGroup {
    margin-bottom: $margin-bottom-small;
}

.footerLink {
    margin-right: $margin-right-small;
}

.footerSocialLinks {
    min-width: 10rem;
    display: flex;
    justify-content: center;
}

.footerSection2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: $margin-bottom-medium;
    font-size: $font-size-small
}

@media (max-width: 650px) {

}