.footer {
    display: flex;
    flex-direction: column;
    background-color: #28282a;
    color: #888;
    padding: 7rem 10%;
}

.footerSection1 {
    display: flex;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #888;
}

.footerSection1Sub1 {
    width: 40%;
}

.footerCompanyName {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #eee;
}

.footerCompanyName + p {
    color: #eee;
    border-bottom: 1px solid #888;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    display: inline-block;
}

.address:not(:last-child) {
    margin-bottom: 1rem;
}

.footerSection1Sub2 {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.footerListHeading {
    color: #eee;
    margin-bottom: 1rem;
}

.footerListHeading + ul {
    list-style: none;
}

.footerListHeading + ul > li:not(:last-child) {
 margin-bottom: 1rem;
}

.footerSection2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.footerSection2Sub1 {
    width: 40%;
}

.footerSection2Sub1 > p {
    font-size: 1rem;
}

.footerSection2Sub2 > p {
    font-size: 1rem;
}