@import "../../styles/sass/abstracts/_variables.scss";

.nav {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
}

.transparent {
    background-color: transparent;
    position: absolute;
    top: 1.5rem;
}

.colorBackground {
    padding: 1.5rem 5%;
    background-color: $color-dark;
}

.brand img {
    height: 14rem;
}

.brand:hover {
    cursor: pointer;
}

.linksGroup {
    font-size: 2.3rem;

    & a:not(:last-child) {
        margin-right: $margin-right-small;
    }
}

.navIcon {
    position: relative;
}

.navIcon,
.navIcon::before,
.navIcon::after  {
    width: 3rem;
    height: .2rem;
    background-color: $color-white;
    display: inline-block;
}

.navIcon::before,
.navIcon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navIcon::before {
    top: -.8rem;
}

.navIcon::after {
    top: .8rem;
}

.iconDiv:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .colorBackground {
        padding: 1.5rem 5%;
        background-color: $color-dark;
    }
    .brand img {
        height: 12rem;
    }
}