@import "../../styles/sass/abstracts/variables";

.officeInfo {
    padding: 5rem 10%;
    min-height: 50rem;
    display: flex;
    justify-content: space-between;
    background-color: $color-light-grey-2;
}

.officeInfoSection {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 650px) {
    .officeInfo {
        flex-direction: column;
        min-height: 50rem;
    }
    .officeInfoSection {
        height: 25rem;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $margin-bottom-medium;
        }
    }
}