@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.aboutPage {
  padding: 0 10%;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  font-size: $font-size-medium;
}

.aboutHeading {
  @include heading-primary;
  margin-bottom: $margin-small;
  padding-bottom: $margin-small;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.groupImageContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  // border: 10px solid blue;
}

.groupImage {
  object-fit: contain;
  object-position: center
}

.aboutSectionHeading {
  @include heading-secondary;
  margin: $margin-small 0;
}

.aboutSectionHeading ~ p:not(:last-child) {
  margin-bottom: $margin-small;
}

.aboutSection1 {
  grid-column: 1 / 4;
}

.bioParagraph:not(:last-of-type) {
  margin-bottom: $margin-small;
}

@media (max-width: 900px) {
  .aboutPage {
    grid-template-columns: 1fr;
  }
  .aboutSection1 {
    grid-column: 1 / -1;
    margin-bottom: $margin-medium;
  }
  .aboutIndividual {
    flex-direction: column;
    align-items: center;
  }
  .aboutBio {
    margin-top: $margin-medium;
  }
}

@media (max-width: 650px) {
  .aboutPage {
    padding: 0 5%;
    margin: 6rem auto;
  }
  .aboutSectionHeading:not(:nth-of-type(1)) {
    text-align: center;
  }
}

.headshotContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  &:nth-of-type(1) {
    margin-bottom: $margin-large;
  }
  @media (max-width: 60rem) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}
