@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.schedulePage {
    padding: 0 10%;
    margin: 2rem 0;
    font-size: $font-size-medium;
    min-height: 55vh;

    @media(max-width: 450px) {
        padding: 0 2%;
    }
}

.membershipSection {
    padding: $margin-small;
}

.membershipHeading {
    @include heading-secondary;
    margin-bottom: $margin-small;
}

.membershipLink {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
        cursor: pointer ;
    }
}

