@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.schedulePage {
    padding: 0 10%;
    margin: 2rem 0;
    font-size: $font-size-medium;
    min-height: 55vh;

    @media(max-width: 450px) {
        padding: 0 2%;
    }
}


