@import "@/styles/sass/abstracts/variables";
@import "@/styles/sass/abstracts/mixins";

.officeHoursContainer {
  width: 80%;
  background-color: $color-dark;
  color: $color-white;
  padding: 2rem 0;
  border-radius: 0.3rem;
  border: 5px solid $color-primary;
  position: relative;
  font-weight: lighter;
}

.officeHoursHeading {
  @include heading-tertiary;
  margin-bottom: $margin-small;
  text-align: center;
}

.officeHours {
  display: flex;
  justify-content: space-evenly;
  font-size: $font-size-medium;
  margin-bottom: $margin-small;
}

.note {
  position: absolute;
  left: 1rem;
}

.officeHoursDay div {
  padding-right: $margin-large;
  margin-bottom: 0.5rem;
}

.officeHoursTime div {
  text-align: center;
  margin-bottom: 0.5rem;
}

@media (max-width: 650px) {
  .officeHoursContainer {
    width: 100%;
  }
  .officeHoursHeading {
    text-align: center;
  }
  .officeHours {
    justify-content: center;
  }
}
