$color-white: #eee;
$color-dark: #28282a;
$color-light-grey: #888888;
$color-light-grey-2: #d5d5d5;
$color-primary: rgb(176, 150, 91);
$color-secondary: rgb(130, 140, 140);

$font-size-small: 1rem;
$font-size-default: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-larger: 4rem;

$margin-bottom-smaller: 1rem;
$margin-bottom-small: 2rem;
$margin-bottom-medium: 3.5rem;
$margin-bottom-large: 5rem;

$margin-right-smaller: 1;
$margin-right-small: 2rem;
$margin-right-medium: 3.5rem;
$margin-right-large: 5rem;