$color-white: #eee;
$color-dark: #28282a;
$color-light-grey: #888888;
$color-light-grey-2: #d5d5d5;
$color-primary: rgb(176, 150, 91);
$color-secondary: rgb(130, 140, 140);

$font-size-small: 1rem;
$font-size-default: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-larger: 4rem;

$margin-smaller: 1rem;
$margin-small: 2rem;
$margin-medium: 3.5rem;
$margin-large: 5rem;

$shadow-std: 0px 4px 6px 0px rgba(168, 168, 168, 1);
$shadow-soft: 0px 6px 15px -8px rgb(25, 25, 25);
