$color-white: #eee;
$color-dark: #28282a;
$color-light-grey: #888;
$color-primary: rgba(75, 128, 67, .7);
$color-secondary: rgba(169, 84, 58, .7);

$font-size-small: 1rem;
$font-size-default: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-larger: 4rem;

$margin-bottom-smaller: 1rem;
$margin-bottom-small: 2rem;
$margin-bottom-medium: 3.5rem;
$margin-bottom-large: 5rem;

$margin-right-smaller: 1;
$margin-right-small: 2rem;
$margin-right-medium: 3.5rem;
$margin-right-large: 5rem;